article{

    float: left;
    border: 2px solid #606060;
    width: 120px;
    height: 144px;
    border-radius: 10px;
    margin: 8.5px;
    display: flex;
    align-items: center

}

h2{
    margin-left: 17px;

}

article#art1{
    background-color: #f7fade;

}

article#art2{
    background-color: #dfedd6;

}
article#art3{
    background-color: #f7fade;

}
article#art4{
    background-color: #dfedd6;

}